In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=1dec709e4a302017193d0c7855ff1d45&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.6055,8.712,28984
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,26.8457,8.700,21910
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.0135,8.600,13238
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.1415,8.566,16750
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.2765,8.500,9442

In [5]:
df = pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:
import requests
import pandas as pd
import time

dfs = []
api_key = "1dec709e4a302017193d0c7855ff1d45"

for i in range(1, 429):
    url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page={i}"
    
    for attempt in range(3):  # retry up to 3 times
        try:
            response = requests.get(url, timeout=10)
            response.raise_for_status()  # raise error for 4xx/5xx responses
            data = response.json().get("results", [])
            if data:
                temp_df = pd.DataFrame(data)[
                    ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
                ]
                dfs.append(temp_df)
            print(f"Page {i} done")
            time.sleep(0.3)  # small delay to avoid rate limits
            break  # success, move to next page
        except requests.exceptions.RequestException as e:
            print(f"Attempt {attempt+1} failed for page {i}: {e}")
            time.sleep(2)  # wait a bit before retrying
    else:
        print(f"Skipping page {i} after multiple failed attempts.")

# Combine all pages into one DataFrame
df = pd.concat(dfs, ignore_index=True)

Page 1 done
Page 2 done
Page 3 done
Page 4 done
Page 5 done
Page 6 done
Page 7 done
Page 8 done
Page 9 done
Page 10 done
Page 11 done
Page 12 done
Page 13 done
Page 14 done
Page 15 done
Page 16 done
Page 17 done
Page 18 done
Page 19 done
Page 20 done
Page 21 done
Page 22 done
Page 23 done
Page 24 done
Page 25 done
Page 26 done
Page 27 done
Page 28 done
Page 29 done
Page 30 done
Page 31 done
Page 32 done
Page 33 done
Page 34 done
Page 35 done
Page 36 done
Page 37 done
Page 38 done
Page 39 done
Page 40 done
Page 41 done
Page 42 done
Page 43 done
Page 44 done
Page 45 done
Page 46 done
Page 47 done
Page 48 done
Page 49 done
Page 50 done
Page 51 done
Page 52 done
Page 53 done
Page 54 done
Page 55 done
Page 56 done
Page 57 done
Page 58 done
Page 59 done
Page 60 done
Page 61 done
Page 62 done
Page 63 done
Page 64 done
Page 65 done
Page 66 done
Page 67 done
Page 68 done
Page 69 done
Page 70 done
Page 71 done
Page 72 done
Page 73 done
Page 74 done
Page 75 done
Page 76 done
Page 77 done
Page 78 done
Page 79 done
Page 80 done
Page 81 done
Page 82 done
Page 83 done
Page 84 done
Page 85 done
Page 86 done
Page 87 done
Page 88 done
Page 89 done
Page 90 done
Page 91 done
Page 92 done
Page 93 done
Page 94 done
Page 95 done
Page 96 done
Page 97 done
Page 98 done
Page 99 done
Page 100 done
Page 101 done
Page 102 done
Page 103 done
Page 104 done
Page 105 done
Page 106 done
Page 107 done
Page 108 done
Page 109 done
Page 110 done
Page 111 done
Page 112 done
Page 113 done
Page 114 done
Page 115 done
Page 116 done
Page 117 done
Page 118 done
Page 119 done
Page 120 done
Page 121 done
Page 122 done
Page 123 done
Page 124 done
Page 125 done
Page 126 done
Page 127 done
Page 128 done
Page 129 done
Page 130 done
Page 131 done
Page 132 done
Page 133 done
Page 134 done
Page 135 done
Page 136 done
Page 137 done
Page 138 done
Page 139 done
Page 140 done
Page 141 done
Page 142 done
Page 143 done
Page 144 done
Page 145 done
Page 146 done
Page 147 done
Page 148 done
Page 149 done
Page 150 done
Page 151 done
Page 152 done
Page 153 done
Page 154 done
Page 155 done
Page 156 done
Page 157 done
Page 158 done
Page 159 done
Page 160 done
Page 161 done
Page 162 done
Page 163 done
Page 164 done
Page 165 done
Page 166 done
Page 167 done
Page 168 done
Page 169 done
Page 170 done
Page 171 done
Page 172 done
Page 173 done
Page 174 done
Page 175 done
Page 176 done
Page 177 done
Page 178 done
Page 179 done
Page 180 done
Page 181 done
Page 182 done
Page 183 done
Page 184 done
Page 185 done
Page 186 done
Page 187 done
Page 188 done
Page 189 done
Page 190 done
Page 191 done
Page 192 done
Page 193 done
Page 194 done
Page 195 done
Page 196 done
Page 197 done
Page 198 done
Page 199 done
Page 200 done
Page 201 done
Page 202 done
Page 203 done
Page 204 done
Page 205 done
Page 206 done
Page 207 done
Page 208 done
Page 209 done
Page 210 done
Page 211 done
Page 212 done
Page 213 done
Page 214 done
Page 215 done
Page 216 done
Page 217 done
Page 218 done
Page 219 done
Page 220 done
Page 221 done
Page 222 done
Page 223 done
Page 224 done
Page 225 done
Page 226 done
Page 227 done
Page 228 done
Page 229 done
Page 230 done
Page 231 done
Page 232 done
Page 233 done
Page 234 done
Page 235 done
Page 236 done
Page 237 done
Page 238 done
Page 239 done
Page 240 done
Page 241 done
Page 242 done
Page 243 done
Page 244 done
Page 245 done
Page 246 done
Page 247 done
Page 248 done
Page 249 done
Page 250 done
Page 251 done
Page 252 done
Page 253 done
Page 254 done
Page 255 done
Page 256 done
Page 257 done
Page 258 done
Page 259 done
Page 260 done
Page 261 done
Page 262 done
Page 263 done
Page 264 done
Page 265 done
Page 266 done
Page 267 done
Page 268 done
Page 269 done
Page 270 done
Page 271 done
Page 272 done
Page 273 done
Page 274 done
Page 275 done
Page 276 done
Page 277 done
Page 278 done
Page 279 done
Page 280 done
Page 281 done
Page 282 done
Page 283 done
Page 284 done
Page 285 done
Page 286 done
Page 287 done
Page 288 done
Page 289 done
Page 290 done
Page 291 done
Page 292 done
Page 293 done
Page 294 done
Page 295 done
Page 296 done
Page 297 done
Page 298 done
Page 299 done
Page 300 done
Page 301 done
Page 302 done
Page 303 done
Page 304 done
Page 305 done
Page 306 done
Page 307 done
Page 308 done
Page 309 done
Page 310 done
Page 311 done
Page 312 done
Page 313 done
Page 314 done
Page 315 done
Page 316 done
Page 317 done
Page 318 done
Page 319 done
Page 320 done
Page 321 done
Page 322 done
Page 323 done
Page 324 done
Page 325 done
Page 326 done
Page 327 done
Page 328 done
Page 329 done
Page 330 done
Page 331 done
Page 332 done
Page 333 done
Page 334 done
Page 335 done
Page 336 done
Page 337 done
Page 338 done
Page 339 done
Page 340 done
Page 341 done
Page 342 done
Page 343 done
Page 344 done
Page 345 done
Page 346 done
Page 347 done
Page 348 done
Page 349 done
Page 350 done
Page 351 done
Page 352 done
Page 353 done
Page 354 done
Page 355 done
Page 356 done
Page 357 done
Page 358 done
Page 359 done
Page 360 done
Page 361 done
Page 362 done
Page 363 done
Page 364 done
Page 365 done
Page 366 done
Page 367 done
Page 368 done
Page 369 done
Page 370 done
Page 371 done
Page 372 done
Page 373 done
Page 374 done
Page 375 done
Page 376 done
Page 377 done
Page 378 done
Page 379 done
Page 380 done
Page 381 done
Page 382 done
Page 383 done
Page 384 done
Page 385 done
Page 386 done
Page 387 done
Page 388 done
Page 389 done
Page 390 done
Page 391 done
Page 392 done
Page 393 done
Page 394 done
Page 395 done
Page 396 done
Page 397 done
Page 398 done
Page 399 done
Page 400 done
Page 401 done
Page 402 done
Page 403 done
Page 404 done
Page 405 done
Page 406 done
Page 407 done
Page 408 done
Page 409 done
Page 410 done
Page 411 done
Page 412 done
Page 413 done
Page 414 done
Page 415 done
Page 416 done
Page 417 done
Page 418 done
Page 419 done
Page 420 done
Page 421 done
Page 422 done
Page 423 done
Page 424 done
Page 425 done
Page 426 done
Page 427 done
Page 428 done

In [10]:
df.shape

(8560, 7)

In [11]:
df.to_csv('movies.csv')