In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=1dec709e4a302017193d0c7855ff1d45&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.6055,8.712,28984
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,26.8457,8.700,21910
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.0135,8.600,13238
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.1415,8.566,16750
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.2765,8.500,9442

In [5]:
df = pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
import requests
import pandas as pd

# Create an empty list to store dataframes
dfs = []

for i in range(1, 429):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=1dec709e4a302017193d0c7855ff1d45&language=en-US&page={i}'
    )
    
    # Check if the request succeeded
    if response.status_code == 200:
        results = response.json().get('results', [])
        if results:  # Only create a dataframe if results exist
            temp_df = pd.DataFrame(results)[
                ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
            ]
            dfs.append(temp_df)
    else:
        print(f"Failed to fetch page {i}: {response.status_code}")

# Combine all dataframes at once
df = pd.concat(dfs, ignore_index=True)

In [ ]:
df.shape

In [ ]:
df.to_csv('movies.csv')