In [4]:
import pandas as pd

In [6]:
pd.read_json('F:\\datasets\\train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [7]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.0408
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.7300
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.9160
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,4.2400
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,2.6500
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.1840
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.2450
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.2880
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-04,1767484801,0.2880

Working with SQL

In [8]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 2.8 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.8/11.9 MB 2.2 MB/s eta 0:00:05
     --- ----------------------------------- 1.0/11.9 MB 322.7 kB/s eta 0:00:34
     ---- ---------------------------------- 1.3/11.9 MB 392.4 kB/s eta 0:00:27
     ----- --------------------------------- 1.6/11.9 MB 428.1 kB/s eta 0:00:25
     ------ -------------------------------- 2.1/11.9 MB 517.3 kB/s eta 0:00:19
     -------- ------------------------------ 2.6/11.9 MB 608.9 kB/s eta 0:00:16
     -------- ------------------------------ 2.6/11.9 MB 608.9 kB/s eta 0:00:16
     --------- ----------------------------- 2.9/11.9 MB 578.6 kB/s eta 0:00:16
     --------- ----------------------------- 2.9/11.9 MB 578.6 kB/s eta 0:00:16
     ----------- --------------------------- 3.4/11.9 MB 612.0 kB/s eta 0:00:14
     ------------ -------------------------- 3.7/11.9 MB 641.5 kB/s eta 0:00:13
     ------------ -------------------------- 3.9/11.9 MB 671.2 kB/s eta 0:00:12
     ------------- ------------------------- 4.2/11.9 MB 691.4 kB/s eta 0:00:12
     -------------- ------------------------ 4.5/11.9 MB 712.1 kB/s eta 0:00:11
     ---------------- ---------------------- 5.0/11.9 MB 756.9 kB/s eta 0:00:10
     ----------------- --------------------- 5.2/11.9 MB 771.8 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 793.3 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 793.3 kB/s eta 0:00:09
     ------------------ -------------------- 5.8/11.9 MB 769.3 kB/s eta 0:00:08
     ------------------- ------------------- 6.0/11.9 MB 787.0 kB/s eta 0:00:08
     --------------------- ----------------- 6.6/11.9 MB 821.8 kB/s eta 0:00:07
     ----------------------- --------------- 7.1/11.9 MB 863.8 kB/s eta 0:00:06
     ------------------------ -------------- 7.3/11.9 MB 872.8 kB/s eta 0:00:06
     ------------------------- ------------- 7.6/11.9 MB 888.1 kB/s eta 0:00:05
     ------------------------- ------------- 7.6/11.9 MB 888.1 kB/s eta 0:00:05
     ------------------------- ------------- 7.9/11.9 MB 861.1 kB/s eta 0:00:05
     -------------------------- ------------ 8.1/11.9 MB 870.8 kB/s eta 0:00:05
     --------------------------- ----------- 8.4/11.9 MB 883.0 kB/s eta 0:00:04
     ---------------------------- ---------- 8.7/11.9 MB 888.9 kB/s eta 0:00:04
     ---------------------------- ---------- 8.7/11.9 MB 888.9 kB/s eta 0:00:04
     ----------------------------- --------- 8.9/11.9 MB 844.0 kB/s eta 0:00:04
     ------------------------------ -------- 9.2/11.9 MB 846.3 kB/s eta 0:00:04
     ------------------------------- ------- 9.4/11.9 MB 856.0 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 856.0 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 843.6 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 843.6 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 843.6 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 823.3 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 823.3 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 804.0 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 804.0 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 804.8 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 806.6 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 814.0 kB/s eta 0:00:02
     ------------------------------------ - 11.5/11.9 MB 832.1 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 840.8 kB/s eta 0:00:01
     -------------------------------------- 11.9/11.9 MB 828.8 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=248037 sha256=58e4ca76b5d098d56da76f049ac45e29d278ea1a3a836c14ae2f45c9b94393c6
  Stored in directory: c:\users\mani\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [9]:
import mysql.connector

In [10]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

c:\Users\Mani\anaconda3\envs\myenv\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
c:\Users\Mani\anaconda3\envs\myenv\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)