In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df=df.iloc[:,2:]

In [4]:
df.sample(5)

     Age  EstimatedSalary  Purchased
94    29            83000          0
397   50            20000          1
169   29            47000          0
32    21            16000          0
15    29            80000          0

Train test split

StandardScaler

Effect of Scaling

Comparison of Distributions

Why scaling is important?

Effect of Outlier